<h1>Editar el artículo</h1>
 
<%= render 'form' %>
 
<%= link_to 'Volver', articulos_path %>
 
<%= form_for :articulo, url: articulo_path(@articulo), method: :patch do |f| %>
 
  <% if @articulo.errors.any? %>
    <div id="error_explanation">
    <h2>
        <%= pluralize(@articulo.errors.count, "error") %> han impedido que el artículo sea grabado:
    </h2>
      <ul>
        <% @articulo.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    
  </p>

<% end %>
