<h1>!Hola, Rails¡</h1>
<%=link_to 'Nuevo Articulo', new_articulo_path %>
<table>
  <tr>
    <th>Titular</th>
    <th>Contenido</th>
    </tr>
 
  <% @articulos.each do |articulo| %>
  <tr>
    <td><%= articulo.titular %></td>
    <td><%= articulo.contenido %></td>
    <td><%= link_to 'Ver',articulo_path(articulo) %></td>
     <td><%= link_to 'Editar',edit_articulo_path(articulo) %></td>
    <td><%=link_to 'Borrar', articulo_path(articulo), method: :delete, data: {confirm: 'Estas Seguro?'} %></td>
                                
               
  </tr>
<% end%>
</table>