<h1>
  Nuevo Articulo</h1>
<%= render 'form' %>
  <%= link_to 'Volver', articulos_path %>
    <%= form_for :articulo, url: articulos_path do |f| %>

      <% if @articulo.errors.any?  %>
        <div id="error_explation">
          <h2>
            <%= pluralize(@articulo.errors.count, "error") %>Han Impedido Que El Articulo Sea Grabado Perro
          </h2>
          <ul>
            <% @articulo.errors.full_messages.each do |msg|%>
              <li>
                <%= msg %>
              </li>
              <% end %>
          </ul>

        </div>
        <p>
          <%= f.label :titular %><br>
            <%= f.text_field :titular %>
        </p>

        <p>
          <%= f.label :contenido %><br/>
            <%= f.text_field :contenido %>
        </p>
        <p>
          <%= f.submit 'Guardar Articulo'%>
        </p>
        <% end %>
          <%= link_to 'volver', articulos_path %>